html {
  font-family: system-ui;
  font-size:16px;
  text-align:center;
  background-color:#ddd;
  scroll-behavior:smooth;
  overflow-x: hidden;
}

#bg {
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  z-index:-1;
}

h1 {
  margin-bottom:0;
  margin-top:50px;
}
h6 {
  margin-top:0;
  margin-bottom:50px;
}

a {
  color:#000;
}

#holdMe {
  width:100%;
  max-width:1400px;
  margin:0 auto;
}

.colorBox {
  --copy: 'Copy';
  width:17%;
  display:inline-block;
  margin: 1rem;
  border-radius:10px;
  box-shadow:0 0 10px rgba(0,0,0,.25);
  background: #efefef;
  position:relative;
  animation: reveal 1s linear forwards;
}
@keyframes reveal {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.mode .colorBox {
  background:#ededed;
}

.color {
  width:100%;
  aspect-ratio: 1/.75;
  box-sizing:border-box;
  border-radius:10px;
  color:white;
  padding:10px;
  cursor:pointer;
  resize: none;
  outline:0;
  border:0;
  font-size:12px;
  overflow:hidden;
  position:relative;
}

.colorBox:after {
  content: var(--copy);
  position:absolute;
  color:white;
  bottom: 50px;
  right: 10px;
  pointer-events:none;
  opacity: 1;
  transition:.5s;
  font-size: .8rem;
}
.colorBox:after:hover {
  opacity:1;
}

.copied:after {
  --copy: '👍';
  font-size: 2rem !important;
}

.colorSwatch {
  width:12px;
  height:12px;
  display:inline-block;
  border-radius:50%;
}

.colorOne, .colorTwo {
  width:100%;
  border-radius:50%;
  font-weight:900;
  font-size:14px;
  padding:10px 0px;
  color:black;
}

.colorOne .colorSwatch:last-child {
  margin-left:20px;
}

@media screen and (max-width:1025px) {
  .colorBox {
    width:25%;
  }
}

@media screen and (max-width:700px) {
  .colorBox {
    width:33%;
  }
}

@media screen and (max-width:550px) {
  .colorBox {
    width:95%;
  }
}